<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<!-- Runtime Settings -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.connection.driver_class"> com.mysql.cj.jdbc.Driver</property>
		
		<!-- Connection Properties -->
		<property name="hibernate.connection.url">jdbc:mysql://ec2-18-188-90-108.us-east-2.compute.amazonaws.com:3306/survey_space</property>
		<property name="hibernate.connection.username">survey_space</property>
		<property name="hibernate.connection.password">]PT*{4\k"u4#Z;2y</property>
		
		<!-- Database Interaction Properties -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- Hibernate Mappings -->
		<mapping class="model.Survey"/>
		<mapping class="model.Question"/>
		<mapping class="model.Choice"/>
		
	</session-factory>
</hibernate-configuration>
